<!DOCTYPE html>
    <html>
    <head>
<title> First Page </title>
        
   <link rel="stylesheet" href="style/style.css">
    
        </head>
        
        <body id='border'>
        <h1 style="color:red"> Cubic Technologies </h1>
        <table>
            <thead>
                <tr>
                    <th class='Heading' id='pointer'> Links </th>
                    <th class='Heading1' id='pointer1'> Description  </th>          
                
                </tr>     
            
            </thead>
                <tbody>
                    <tr>
                        
<td> <a class='w3' href="http://www.w3schools.com/" target="_blank"> Go To w3schools  </a> </td>
<td class='UI'> UI Associated Link </td>
                        
                    </tr>
                    <tr>
<td> <a class='index' href="index.html" target="_blank"> Hello World Article </a>    </td>
<td class='Reference'> Reference </td>
                        
                    </tr>  
                    <tr class='w3'> 
<td> <a class='table1' href="table.html" target="_blank"> Basic HTML Tables</a> </td>
<td class='Cubic'> Cubic </td>
                        
                    </tr>
            
            
               </tbody>    
            
        </table>
            
        </body>     
        
        

</html>        