<!Doctype html>
<html>
    <head>
        <title> Calculator </title>
        <link rel="stylesheet" src="style/style.css">
                  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        <script type="text/javascript" src="/scripts/calculator.js"> </script>
    </head>
        <body>
            <form> 
                Enter First Name
                <input type="text" id="num1"> <br>
                Enter sencond Name
                <input type="text" id="num2"> <br>
                <button id="submit"> Calculate </button>
            </form>
    <!--<td> <button name="submit"> Submit </button></td>--> 
    
    <div id="results"> Results will be displayed here </div>
    </body>
        
        <script type="text/javascript" src="/scripts/jquerycalculator.js"></script>
    </html>