<!DOCTYPE html>
    <html>
    <head>
        <title> Forms </title>
        <script type='text/javascript' src="/scripts/process.js"> </script>
        </head>
        
        
        
        <body>   
        <form name='getform' method='Get'>
            <table>
            <tr>
                <td> First Name</td>
                <td> <input type='Text' placeholder='Enter First Name' name='First Name' id='FN' value=''></td>
                
                
                </tr>
            <tr>
                <td> Last Name</td>
                <td> <input type='Text' placeholder='Enter Last Name' name='Last Name' id='LN' value=''></td>
                
                
                </tr>
            <tr>
                <td> Address </td>
                <td> <input type='Text' placeholder='Enter Address' name='Address' id='ADD' value=''></td>
                
                </tr>
            <tr>
                <td> Password </td>
                <td> <input type='password' name='Password' id='PASS'></td>
                
                
                </tr>
            <tr>
               <td colspan='2'> <input type='submit' onClick='processForm()' value='Form submit'></td> 
                
                
                </tr>
            </table>
        </form>
            </body>
        
        

</html>