<!DOCTYPE html>
    <html>
    <head>
<title>First Page</title>
<link rel="stylesheet" href="style/style.css">
<style>
    h2,h3,h4,h5,h6{
        color:blue;
    }        
    h3{
        cursor:pointer;
    }    
        
        
        
        
        
        
        </style>
    
    
</head>

    <body>

<h1 style="color:red"> header1 </h1>
<h2>header2</h2>
<h3>header3</h3>
<h4>header4</h4>
<h5>header5</h5>
<h6 class='group'>header6</h6>
        
        <span> Hello World </span>
        <span> Good Morning </span>
        <span> Article 1 </span>
        <span> Article 2 </span>
        <span class='group'>group 1</span><br>
        <span class='group2'>group 2</span>
        <span class='group2' id='firstspan'>With id</span><br>
        <span class='group' id='secondspan'>length id</span><br>
    </body>

</html>