<!DOCTYPE html>
    <html>
    <head>
  <title> List </title>   
        
        
        
        
        
        
        
        
        </head>
        
        
        <body>
    
    <h1>       </h1>        
    <ol>              
    <li> Apple </li>        
    <li> Orange </li>    
    <li> Banana </li>  
            </ol>
            
   
    <h1>      </h1>         
    <ul>             
    <li> Tiger </li>    
    <li> Cat </li>
    <li> Dog </li>        
            </ul>
            
            
        </body>
        
        

</html>