<!DOCTYPE html>
    <html>
    <head>
        <title> Forms  </title>
        </head>        
        
        <body>   
        <form name='getform' method='Post'>
            <table>
            <tr>
                <td> First Name</td>
                <td> <input type='Text' name='First Name' id='FN' value=''></td>
                
                
                </tr>
            <tr>
                <td> Last Name</td>
                <td> <input type='Text' name='Last Name' id='LN' value=''></td>
                
                
                </tr>
            <tr>
                <td> Address </td>
                <td> <input type='Text' name='Address' id='ADD' value=''></td>
                
                </tr>
            <tr>
                <td> Password </td>
                <td> <input type='password' name='Password' id='PASS'></td>
                
                
                </tr>
            <tr>
               <td colspan='2'> <input type='submit' value='submit'></td> 
                
                
                </tr>
            </table>
        </form>
            </body>
        
        

</html>
        
        </body>
        

</html>